
<center class='innact'>
  <%= image_tag('innactblue.png', {:style => "width:350px;"}) %>
</center>
<center>
  <button class='mybtn'><%= link_to 'Your To-Do List', todos_path %></button>
  <button class='mybtn'><%= link_to 'Progress', progress_path %></button>
</center>
      